@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero{
  background: #D5E7D2;
  /* background: url(./images/Hero.png) center no-repeat; */
  display: flex;
  justify-content: space-between;
  height: 600px;
}
.memory:hover{
  color: darkgreen;

}
#input{
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 70px;
}
@media only screen and (max-width: 700px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}